.headers{
    display: grid;
    grid-template-columns: 200px repeat(auto-fit, minmax(10px, 1fr)); 
    gap: 8px;
    margin-bottom: 10px;
    align-items: center;
}

.exercise-row{
    display: grid;
    grid-template-columns: 200px repeat(auto-fit, minmax(10px, 1fr)) ; 
    gap: 8px;
    margin-bottom: 10px;
    align-items: center;
}
